---
layout: default
---

<div id="header_top">
    <div class="header_top_border"></div>
    <a class="home-icon toggle" href="/"><img src="assets/images/glyphicons_020_home.png"></a>
    <a class="toggle-nav toggle" href="javascript:void(0);"><img src="assets/images/icon_nav_toggle-black.gif"></a>
    <nav class="menu_cont">
        <h2 class="element-invisible">Menu</h2>
        <ul id="menu" class="links inline clearfix menu">
            <li class="menu-218 first active">
                <a href="/" title="" class="active">Portfolio</a>
            </li>
            <li class="menu-355 last">
                <a href="lebenslauf.html">Lebenslauf</a>
            </li>
        </ul>
    </nav>
    <div class="clear"></div>
</div>

<div id="content" class="column">
    <div class="section">
        <a id="main-content"></a>
        <div class="tabs"></div>
        <div class="region region-content">
            <div id="block-system-main" class="block block-system">
                <div class="content">

                    {% assign i = 0 %}
                    {% for portfolio in site.data.portfolio %}
                        {% assign i = i | plus:1 %}
                        {% assign evenOdd = "even" %}
                        {% assign thumbFolder = "thumbs" %}
                        {% assign postPrefix = "" %}
                        {% if i == 1 %}
                            {% assign postPrefix = "big-" %}
                            {% assign thumbFolder = "images" %}
                        {% endif %}
                        {% if i % 2 == 0 %}
                            {% assign evenOdd = "odd" %}
                        {% endif %}
                        {% assign thumb = 'images/portfolio' | append: '/' | append: 'gemaelde' | append: '/' | append: thumbFolder | append: '/' | append: portfolio.thumb %}

                        <article id="node-{{ portfolio.hash }}" class="node node-article node-promoted node-teaser {{ evenOdd }} first {{ postPrefix }}post-box clearfix" about="portfolio.html#{{ portfolio.hash }}" typeof="sioc:Item foaf:Document">
                            <header>
                                <h3><a href="portfolio.html#{{ portfolio.hash }}">{{ portfolio.name }}</a></h3>
                                <span property="dc:title" content="{{ portfolio.name }}" class="rdf-meta element-hidden"></span>
                                <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                            </header>
                            <div class="content">
                                <div class="field field-name-field-image field-type-image field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item {{ evenOdd }}" rel="og:image rdfs:seeAlso" resource="{{ thumb }}">
                                            <a href="portfolio.html#{{ portfolio.hash }}">
                                                <img typeof="foaf:Image" src="{{ thumb }}"  alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>