<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
<meta http-equiv="cleartype" content="on">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="MobileOptimized" content="width">
<style>
    @import url("assets/css/system.base.css");
</style>
<style>
    @import url("assets/css/normalize.css");
    @import url("assets/css/fontfolio.css");
    @import url("assets/css/fontfolio-md-queries.css");
</style>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

<!--[if lt IE 9]>
<script src="assets/js/html5.js"></script>
<![endif]-->
<script src="assets/js/general.js"></script>
<script type='text/javascript' src='assets/vendor/unitegallery/js/unitegallery.min.js'></script>
<link rel='stylesheet' href='assets/vendor/unitegallery/css/unite-gallery.css' type='text/css' />
<link rel='stylesheet' href='assets/vendor/unitegallery/themes/default/ug-theme-default.css' type='text/css' />

<script type='text/javascript' src='assets/vendor/unitegallery/themes/tiles/ug-theme-tiles.js'></script>

