<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="mdq-aware"  lang="en" dir="ltr"
                                               xmlns:content="http://purl.org/rss/1.0/modules/content/"
                                               xmlns:dc="http://purl.org/dc/terms/"
                                               xmlns:foaf="http://xmlns.com/foaf/0.1/"
                                               xmlns:og="http://ogp.me/ns#"
                                               xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
                                               xmlns:sioc="http://rdfs.org/sioc/ns#"
                                               xmlns:sioct="http://rdfs.org/sioc/types#"
                                               xmlns:skos="http://www.w3.org/2004/02/skos/core#"
                                               xmlns:xsd="http://www.w3.org/2001/XMLSchema#"><!--<![endif]-->

<head profile="http://www.w3.org/1999/xhtml/vocab">
    {% include header.html %}
</head>
<body class="html front not-logged-in page-node no-sidebars" >

<div id="main_container">
    <header id="header">
        <div class="section clearfix">
            <a href="/" title="" rel="home" class="logo">
                <img src="assets/images/katja.jpg" alt="" />
            </a>

            <div id="name-and-slogan">
                <h1 id="site-name">
                    <a href="/" title="Home" rel="home"><span>Kateryna Kosenko</span></a>
                </h1>

                <div id="site-slogan">Grafikdesignerin</div>
            </div>
        </div>
    </header>

    <div id="header_top">
        <div class="header_top_border"></div>
        <a class="home-icon toggle" href="/"><img src="assets/images/glyphicons_020_home.png"></a>
        <a class="toggle-nav toggle" href="javascript:void(0);"><img src="assets/images/icon_nav_toggle-black.gif"></a>
        <nav class="menu_cont">
            <h2 class="element-invisible">Menu</h2>
            <ul id="menu" class="links inline clearfix menu">
                <li class="menu-218 first active">
                    <a href="/" title="" class="active">Portfolio</a>
                </li>
                <li class="menu-355 last">
                    <a href="lebenslauf.html">Lebenslauf</a>
                </li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>

    <div id="content" class="column">
        <div class="section">
            <a id="main-content"></a>
            <div class="tabs"></div>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">

                        {{ content }}

                        {{ site.portfolio.gemaelde.thumb }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <section class="section">
        </section>
    </footer>

</div>
</body>
</html>